body {
    background-color: rgb(66, 66, 66);
    color: white;
    width: 100%;
    height: 100%;
}

#Titulo {
    display: flex;
    justify-content: center;
    background-color: rgb(153, 201, 255);
    border: 5px rgb(26, 26, 26) solid;
}

#Sonic {
    background-color: rgb(88, 88, 88);
    width: 420px;
    height: 300px;
    margin-left: auto;;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrar {
    text-align: center;
}