body {
    background-color: rgb(66, 66, 66);
    color: white;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
    font-size: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 1px 5px black;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li:hover {
    background-color: aqua;
}

.content {
    margin-top: 100px;
}

#Titulo {
    display: block;
    text-align: center;
    margin-top: 130px;
}

#Sonic {
    background-color: rgb(88, 88, 88);
    width: 420px;
    height: 300px;
    padding: 10px;
    margin: 1px 1px 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
}

#Sonic1 {
    background-color: rgb(88, 88, 88);
    width: 420px;
    height: 300px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
}

.centrar {
    color: rgb(185, 223, 250);
    margin: 10px;
    text-align: center;
}

#Link1 {
    list-style-type: none;
    display: block;
    background-color: rgb(88, 88, 88);
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.Imagen {
    border-radius: 100px;
    display: block;
    margin: auto;
}

.Imagen1 {
    border-radius: 10px;
    display: block;
    margin: auto;
}

#Colaboradores {
    text-align: center;
    font-size: 30px;
    color: rgb(185, 223, 255);
}