body {
    background-color: rgb(66, 66, 66);
    color: white;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 1px 5px black;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.content {
    margin-top: 100px;
}

#Titulo {
    display: block;
    text-align: center;
    margin-top: 130px;
}

#Sonic {
    background-color: rgb(88, 88, 88);
    width: 420px;
    height: 300px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrar {
    color: aqua;
    text-align: center;
}

#Link1 {
    background-color: rgb(88, 88, 88);
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}