#Titulo1 {
    display: block;
    text-align: center;
    margin-top: 130px;
    padding: 50px;
}

#Textro {
    display: block;
    text-align: center;
    margin-top: auto;
    padding: 50px;
}

#Cuadro {
    background-color: rgb(88, 88, 88);
    width: 1300px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

